---
import type { HeroBlockFragment } from "@generated/datocms";
import { Image } from "@datocms/astro";
import { Button } from "@components";

type Props = {
  block: HeroBlockFragment;
};

const { block } = Astro.props;
---

<section class="hero-block">
  <div class="hero-block__visual"></div>
  <div class="hero-block__content">
    <div class="hero-block-actions">
      <Image
        pictureClass="hero-block-picture"
        data={block.image?.responsiveImage}
        priority={true}
      />

      <Button
        as="a"
        icon="github"
        variant="secondary"
        iconOnly
        round
        href="https://github.com/luukbrauckmann"
        prefetch={false}>See my GitHub profile</Button
      >
    </div>
    <h1>{block.title}</h1>
    <p>{block.description}</p>
  </div>
</section>

<style>
  .hero-block {
    --image-size: 150px;
    position: relative;
    margin: -1px -1px 0px -1px;
    border: 1px solid oklch(0.269 0.042 263);
    border-block-start-color: transparent;
  }

  .hero-block__visual {
    height: var(--image-size);
  }

  .hero-block :global(.hero-block-picture) {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    width: var(--image-size);
    height: var(--image-size);
  }

  .hero-block__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    background-color: oklch(0.269 0.042 263);
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-xxl)
      var(--spacing-lg);
  }

  .hero-block-actions {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-inline-start: calc(var(--image-size) + var(--spacing-lg));
  }

  .hero-block__content h1 {
    font-size: var(--text-size-3xl);
  }
</style>
