---
import Button from "@components/Button/Button.astro";

const { locale } = Astro.params;
const { block } = Astro.props;
---

{
  block.action.__typename === "InternalActionRecord" && (
    <Button as="a" icon={block.icon.name} href={`/${locale}/${block.action.page.path}/`}>
      {block.label}
    </Button>
  )
}

{
  block.action.__typename === "ExternalActionRecord" && (
    <Button as="a" icon={block.icon.name} href={block.action.link}>
      {block.label}
    </Button>
  )
}
