---
import type { SiteLocale } from "@generated/datocms";
import { Footer, Header, IconsSprite } from "@components";

import "@generated/tokens.css";
import "@styles/tokens.css";
import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/typography.css";
import { Seo, type SeoTitleTag, type SeoOrFaviconTag } from "@datocms/astro";
import { Font } from "astro:assets";

type Props = {
  locale: SiteLocale;
  seo: SeoOrFaviconTag[];
  menu: {
    items: Array<{
      title: string,
      page: {
        path: string
      }
    }>
  }
};

const { locale, seo, menu } = Astro.props;
const title = seo.shift() as SeoTitleTag;
---

<html lang={locale}>
  <head>
    <!-- Character encoding -->
    <meta charset="utf-8" />
    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSP headers -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Page title -->
    <title>{title.content}</title>
    <!-- Preconnect -->
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <!-- Asynchronous JS -->
    <!-- CSS that includes @import -->
    <!-- Synchronous JS -->
    <!-- Synchronous CSS -->
    <!-- Preloads -->
    <Font cssVariable='--font-nunito' preload />
    <Font cssVariable='--font-dash' preload />
    <!-- Prefetch & Prerender -->
    <!-- Everything else (meta tags, icons, open graphs, etc.) -->
    <Seo data={seo} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <div class="content-wrapper">
        <Header class="header" menu={menu} />

        <main>
            <slot />
        </main>

        <Footer class="footer" />
      </div>

    <IconsSprite />
  </body>
</html>

<style>
    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 500px) {
        body {
            padding: var(--spacing-sm);
        }
    }

    .content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid oklch(0.269 0.042 263);
        inline-size: 100%;
        max-inline-size: 600px;
        margin-inline: auto;
    }

    main {
        flex: 1;
    }
</style>
